:root {
  --color-whatsapp: #25d366;
  --color-black: #000;
  --color-white: #fff;
  --color-bg-primary: #031231;
  --color-bg-secondary: #f2f7fb;
  --color-bg-terciary: #fdf5f1;
  --color-titles: #038de2;
  --color-text: #e0e7eb;
  --color-metal-gray: #a4b4be;
  --color-darker-gray: #466076;
  --color-wood: #c86a2c;
  --color-dark-wood: #a35622;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto auto 1fr auto;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", system-ui, sans-serif;
  letter-spacing: 0.2px;
}

h1 {
  font-size: clamp(3.25rem, 4vw, 3.75rem);
}
h2 {
  font-size: clamp(2rem, 3vw, 2.5rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease-in-out, text-decoration-color 0.5s ease-in-out,
    background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
