.swiper {
  cursor: grab;
  --card: 320px;
  --gap: 32px;
  width: calc(var(--card) * 1 + var(--gap) * 0);
  max-width: 100vw;
  height: 380px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .swiper {
    width: calc(var(--card) * 2 + var(--gap) * 1);
  }
}
@media (min-width: 992px) {
  .swiper {
    width: calc(var(--card) * 3 + var(--gap) * 2);
  }
}

.swiper:active {
  cursor: grabbing;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
